@media (max-width: $media_phone){
    header{
        nav .container{
            h3{
                font-size: 16px;
            }

            span{
                img{
                    float: right;
                    width: 60%;
                }
            }
        }

        main .container{
            .showcase-text{
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }

    footer{
        img{
            float: right;
            width: 10%;
        }
    }
}